<div class="home-page">

    <div class="banner" *showAuthed="false">
        <div class="container">
            <h2 class="logo-font">                  Побудова фінансово-економічних моделей</h2>
        </div>
    </div>
    <div class="container page" style="margin-left: 10px; margin-right: 10px">

        <!--<div class="container">-->
        <div class="row">
            <div class="col-6 col-sm-3">
                <form [formGroup]="formulaForm">
                    <fieldset [disabled]="isSubmitting">
                        <fieldset class="form-group">
                            <div class="row">
                                <label for="sum">Сума</label>
                                <input type="text" formControlName="sum" aria-required="true" placeholder="Сума"
                                       class="form-control"
                                       id="sum" required>
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <div class="row">
                                <label for="yearCount">Кількість років</label>
                                <input type="text" placeholder="Кількість років" aria-required="true"
                                       class="form-control" id="yearCount"
                                       formControlName="yearCount">
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <div class="row">
                                <label for="percent">Відсоток</label>
                                <input type="text" aria-required="true" placeholder="Відсоток" class="form-control"
                                       id="percent"
                                       formControlName="percent">
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <div class="row">
                                <label for="percent">Річна ставка</label>
                                <input type="text" aria-required="true" placeholder="Річна ставка" class="form-control"
                                       id="annualRate"
                                       formControlName="annualRate">
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <div class="row">
                                <label for="percent">Число нарощувань відсотків на рік</label>
                                <input type="text" aria-required="true" placeholder="Число нарощувань відсотків на рік"
                                       class="form-control" id="increasingPercentValueForYear"
                                       formControlName="increasingPercentValueForYear">
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <div class="row">
                                <label for="percent">Число періодів нарахувань</label>
                                <input type="text" aria-required="true" placeholder="Число періодів нарахувань"
                                       class="form-control" id="countOfCalculatingPeriod"
                                       formControlName="countOfCalculatingPeriod">
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <div class="row">
                                <label for="percent">Величина змінної ставки</label>
                                <input type="text" aria-required="true" placeholder="Величина змінної ставки"
                                       class="form-control" id="changeablePercentRate"
                                       formControlName="changeablePercentRate">
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <div class="row">
                                <label for="percent">Величина сталої ставки</label>
                                <input type="text" aria-required="true" placeholder="Величина сталої ставки"
                                       class="form-control" id="constantPercentRate"
                                       formControlName="constantPercentRate">
                            </div>
                        </fieldset>
                        <div class="form-group row">
                            <button type="button" class="btn btn-success" (click)="caclulateFormula()">Обчислити
                            </button>
                        </div>
                    </fieldset>
                </form>
            </div>
            <!--</div>-->


            <!--<div class="row">-->
            <div class="col-sm-8 offset-sm-1">
                <div *ngFor="let formula of formulas let i = index" [attr.data-index]="i">
                    <div class="jumbotron" *ngIf="formula">
                        <table class="table">
                            <tr>
                                <td>Сума покладенна в банк:</td>
                                <td>{{formula?.sum}}</td>
                                <td><button  type="button" class="btn btn-danger" (click)="deleteFormula(formula.id, i)">Видалити</button></td>
                            </tr>
                            <tr>
                                <td>Кількість років:</td>
                                <td>{{formula?.yearCount}}</td>
                            </tr>
                            <tr>
                                <td>Відсоткове значення:</td>
                                <td>{{formula?.percent}}%</td>
                            </tr>
                            <tr>
                                <td>Дата обчислення прибутку:</td>
                                <td>{{formula?.createdDate}}</td>
                            </tr>
                            <tr *ngIf="formula?.resultBySimplePercent?.result">
                                <td>Отримана сума через {{formula?.yearCount}} років (1):</td>
                                <td> {{formula?.resultBySimplePercent.result}}
                                </td>
                            <tr *ngIf="formula?.resultByComplexPercent?.result">
                                <td>Отримана сума через {{formula?.yearCount}} років (2):</td>
                                <td> {{formula?.resultByComplexPercent.result}}
                                </td>
                            </tr>
                            <tr *ngIf="formula?.resultByFormulaWithAnnualRate?.result">
                                <td>Отримана сума через {{formula?.yearCount}} років (3):</td>
                                <td>{{formula?.resultByFormulaWithAnnualRate.result}}
                                </td>
                            </tr>
                            <tr *ngIf="formula?.resultByFormulaWithChangRateSimplePercent?.result">
                                <td>Отримана сума через {{formula?.yearCount}} років (4):</td>
                                <td>{{formula?.resultByFormulaWithChangRateSimplePercent.result}}
                                </td>
                            </tr>
                            <tr *ngIf="formula?.resultByFormulaWithChangRateComplexPercent?.result">
                                <td>Отримана сума через {{formula?.yearCount}} років (5):</td>
                                <td>{{formula?.resultByFormulaWithChangRateComplexPercent.result}}
                                </td>
                            </tr>
                        </table>
                        <!--<div *ngFor="let yearSum of formula?.yearSumList">-->
                        <!--{{yearSum | json}}-->
                        <!--</div>-->
                        <!--: {{formula?.createdDate}}-->
                        <!--</div>-->
                        <div class="row">
                            Діаграма і табличка зростання сум у банку
                        </div>
                        <div *ngIf="formula">
                            <chart-page [data]="formula"></chart-page>
                        </div>
                    </div>

                    <!--<chart-page></chart-page>-->
                </div>
                <!--</div>-->

            </div>
        </div>

    </div>
    
</div>
